
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Social App</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">


  </head>

  <body class="bg-success">

   <h2 align="center"> Message sent </h2>
    <p align="center"><a style="width:200px" class="btn btn-lg btn-primary btn-block" href="/" role="button">Return to Homepage</a></p>
        
  </body>
</html>
